<!DOCTYPE html>
<html>
	{% block head %}
		<head>
			<meta charset="utf-8">
	    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    
	    	{% block title %}
				<title>Biarri Challenge</title>
			{% endblock %}

			{% block css %}
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			{% endblock %}
		</head>
	{% endblock %}

	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>