{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-12">
			{% block page_title %}<h4>Import CSV File</h4>{% endblock %}
			<form action="{% block form_action %}{% endblock %}" method="post" enctype="multipart/form-data">
			    {% csrf_token %}
			    {{ form.as_p }}
			    <a class="btn btn-secondary" href="{% url 'home' %}">Back</a>
			    <button type="submit" class="btn btn-success">Import</button>
			</form>
		</div>
	</div>
{% endblock %}