{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<h4>Home</h4>
			{% for message in messages %}
				<div class="{{ message.tags }}" role="alert">
					{% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
				</div>
            {% endfor %}
			<a class="btn btn-primary" href="{% url 'import_csv:employees' %}">Import Employees CSV</a>
			<a class="btn btn-primary" href="{% url 'import_csv:shifts' %}">Import Shifts CSV</a>
		</div>
	</div>
{% endblock %}